
.grid {
    grid-template-columns: 200px 200px 200px 200px;
    display: grid;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 1000px){
    .grid{
    grid-template-columns: 200px 200px;
    }
}


.item {
    padding: 5px;
    text-align: center;
    margin: 15px;
    color: #FFFFFF;
}

.imagem {
    width: 190px;
    height: 300px;
    align-items: center;
    padding: 10px 12px 10px 20px;
    margin: 5px;
}

.botao {
    border: none;
    border-radius: 30px;
    width: 15em;
    display: grid;
    background-color: rgb(5, 22, 58);
    margin: 1em;
    box-shadow: rgb(205, 199, 228) 3px 4px 3px;
    cursor: pointer;
}

.botao :hover {
    color: rgb(255, 5, 5);
}

.ativo {

    border-bottom: 4px solid var(--ativo);
}

.link__botao {
    display: inline;
    text-decoration: none;
}

.titulo-principal {
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0 40px;
    color: #FFFFFF;

}


