:root {
    --cor-de-fundo: #050510;
    --fonte-principal: "Josefin Sans";
    --fonte-secundaria: "Noto Sans";
}

body {
    background-color: var(--cor-de-fundo);
    color: #FFFFFF;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    color: #FFFFFF;
    font-family: var(--fonte-principal);
}



